/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'
.page-body
  max-width: 1170px
  margin: 0 auto
.contact-detail,
.contact-edit
  padding-top: 20px
  display: flex
  flex-wrap: wrap
  justify-content: center
  &__half
    margin:10px
    width: calc(50% - 20px)
  &__list
    margin: 0
    padding: 0
    list-style-type: none
  &__item
    padding: 10px
    border-bottom: 1px solid #ccc
  .input-group
    padding: 0
  .contact-edit
    &__item
      padding: 0
      border-bottom: none
.als-right
 align-self: right